.frame-35307 {
  height: 103px;
  width: 324px;
}

.frame-35307 .overlap-7 {
  background-color: #eaf1fe;
  border: 2px solid;
  border-color: #c9d6f3;
  border-radius: 8px;
  height: 105px;
  left: -1px;
  position: relative;
  top: -1px;
  width: 326px;
}

.frame-35307 .frame-10 {
  height: 84px;
  left: 21px;
  position: relative;
  top: 8px;
  width: 280px;
}

.frame-35307 .text-wrapper-25 {
  color: #000000;
  font-family: "Pretendard-Medium", Helvetica;
  font-size: 16px;
  font-weight: 500;
  left: 0;
  letter-spacing: -0.80px;
  line-height: 18px;
  position: absolute;
  top: -1px;
  white-space: nowrap;
}

.frame-35307 .frame-11 {
  height: 36px;
  left: 179px;
  position: absolute;
  top: 48px;
  width: 101px;
}

.frame-35307 .overlap-group-4 {
  height: 37px;
  position: relative;
  top: -1px;
}

.frame-35307 .text-wrapper-26 {
  color: #000000;
  font-family: "Pretendard-Regular", Helvetica;
  font-size: 13px;
  font-weight: 400;
  left: 0;
  letter-spacing: -0.65px;
  line-height: 18px;
  position: absolute;
  top: 0;
  white-space: nowrap;
}

.frame-35307 .rectangle-10 {
  background-color: #ffffff;
  border-radius: 8px;
  height: 20px;
  left: 0;
  position: absolute;
  top: 17px;
  width: 101px;
}

.frame-35307 .text-wrapper-27 {
  color: #000000;
  font-family: "Pretendard-Regular", Helvetica;
  font-size: 14px;
  font-weight: 400;
  left: 20px;
  letter-spacing: -0.70px;
  line-height: 18px;
  position: absolute;
  text-align: right;
  top: 17px;
  white-space: nowrap;
}

.frame-35307 .text-wrapper-28 {
  color: #929292;
  font-family: "Pretendard-Light", Helvetica;
  font-size: 13px;
  font-weight: 300;
  left: 0;
  letter-spacing: -0.65px;
  line-height: 18px;
  position: absolute;
  top: 19px;
  white-space: nowrap;
}

.frame-35307 .frame-12 {
  height: 36px;
  left: 79px;
  position: absolute;
  top: 49px;
  width: 92px;
}

.frame-35307 .rectangle-11 {
  background-color: #ffffff;
  border-radius: 8px;
  height: 20px;
  left: 0;
  position: absolute;
  top: 17px;
  width: 92px;
}

.frame-35307 .text-wrapper-29 {
  color: #000000;
  font-family: "Pretendard-Regular", Helvetica;
  font-size: 14px;
  font-weight: 400;
  left: 22px;
  letter-spacing: -0.70px;
  line-height: 18px;
  position: absolute;
  text-align: right;
  top: 17px;
  white-space: nowrap;
}

.frame-35307 .frame-13 {
  height: 36px;
  left: 0;
  position: absolute;
  top: 49px;
  width: 71px;
}

.frame-35307 .rectangle-12 {
  background-color: #ffffff;
  border-radius: 8px;
  height: 20px;
  left: 0;
  position: absolute;
  top: 17px;
  width: 71px;
}

.frame-35307 .text-wrapper-30 {
  color: #000000;
  font-family: "Pretendard-Regular", Helvetica;
  font-size: 14px;
  font-weight: 400;
  left: 27px;
  letter-spacing: -0.70px;
  line-height: 18px;
  position: absolute;
  text-align: right;
  top: 17px;
  white-space: nowrap;
}

.frame-35307 .overlap-8 {
  background-color: #ffffff;
  border-radius: 8px;
  height: 34px;
  left: 179px;
  position: absolute;
  top: 0;
  width: 101px;
}

.frame-35307 .text-wrapper-31 {
  color: #154ecc;
  font-family: "Pretendard-Medium", Helvetica;
  font-size: 18px;
  font-weight: 500;
  left: 18px;
  letter-spacing: -0.90px;
  line-height: 18px;
  position: absolute;
  text-align: right;
  top: 7px;
  white-space: nowrap;
}

.frame-35307 .text-wrapper-32 {
  color: #000000;
  font-family: "Pretendard-Medium", Helvetica;
  font-size: 18px;
  font-weight: 500;
  left: 65px;
  letter-spacing: -0.90px;
  line-height: 18px;
  position: absolute;
  text-align: right;
  top: 7px;
  white-space: nowrap;
}
